@charset "UTF-8"
body {
    background-color: coral;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

h1 {
    color: darkblue;
    background-color: aquamarine;

}

h2{
    color: darkred;
}

p{
    text-align: justify;
}